{
  "openapi": "3.1.0",
  "info": {
    "title": "eFTI Gate Admin API"
  },
  "servers": [
    {
      "url": "https://eu-ee31.eftisandbox.eu/api"
    }
  ],
  "tags": [
    {
      "name": "Admin Auth",
      "description": "User authentication and identity management for administrators."
    },
    {
      "name": "Admin Gates",
      "description": "Management of eFTI gates and connectivity."
    },
    {
      "name": "Admin platforms",
      "description": "Management of platforms and connectivity."
    },
    {
      "name": "Admin Authorities",
      "description": "Management of authorities."
    },
    {
      "name": "Admin Users",
      "description": "Management of users and their role assignments."
    },
    {
      "name": "Admin Consignments",
      "description": "Management of consignment datasets stored on this gate."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerApiKey": {
        "bearerFormat": "API-Key",
        "scheme": "bearer",
        "name": "Authorization",
        "type": "http"
      }
    }
  },
  "paths": {
    "/switch": {
      "get": {
        "operationId": "AdminAuthRoutes.userSwitch",
        "tags": [
          "Admin Auth"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "isAdmin": {
                      "type": "boolean"
                    },
                    "isSuperAdmin": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    },
                    "roles": {
                      "type": "object",
                      "properties": {
                        "entries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {},
                            "required": [
                              "key",
                              "value"
                            ]
                          }
                        },
                        "keys": {
                          "type": "array"
                        },
                        "size": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "values": {
                          "type": "array"
                        }
                      },
                      "required": [
                        "entries",
                        "keys",
                        "size",
                        "values"
                      ]
                    },
                    "subsets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "isAdmin",
                    "isSuperAdmin",
                    "name",
                    "roles"
                  ]
                }
              }
            }
          }
        },
        "description": "Switches the active user session by triggering a Basic Auth challenge."
      }
    },
    "/user": {
      "get": {
        "operationId": "AdminAuthRoutes.currentUser",
        "tags": [
          "Admin Auth"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string"
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "isAdmin": {
                      "type": "boolean"
                    },
                    "isSuperAdmin": {
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string"
                    },
                    "roles": {
                      "type": "object",
                      "properties": {
                        "entries": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {},
                            "required": [
                              "key",
                              "value"
                            ]
                          }
                        },
                        "keys": {
                          "type": "array"
                        },
                        "size": {
                          "type": "integer",
                          "format": "int32"
                        },
                        "values": {
                          "type": "array"
                        }
                      },
                      "required": [
                        "entries",
                        "keys",
                        "size",
                        "values"
                      ]
                    },
                    "subsets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "id",
                    "isAdmin",
                    "isSuperAdmin",
                    "name",
                    "roles"
                  ]
                }
              }
            }
          }
        },
        "description": "Returns the currently authenticated admin user."
      }
    },
    "/gates": {
      "get": {
        "operationId": "GateAdminRoutes.list",
        "tags": [
          "Admin Gates"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "countryCode": {
                        "type": "string",
                        "enum": [
                          "EU",
                          "AL",
                          "AD",
                          "AT",
                          "BY",
                          "BE",
                          "BA",
                          "BG",
                          "HR",
                          "CY",
                          "CZ",
                          "DK",
                          "EE",
                          "FI",
                          "FR",
                          "DE",
                          "EL",
                          "HU",
                          "IS",
                          "IE",
                          "IT",
                          "LV",
                          "LI",
                          "LT",
                          "LU",
                          "MT",
                          "MD",
                          "MC",
                          "ME",
                          "NL",
                          "MK",
                          "NO",
                          "PL",
                          "PT",
                          "RO",
                          "RU",
                          "SM",
                          "RS",
                          "SK",
                          "SI",
                          "ES",
                          "SE",
                          "CH",
                          "UA",
                          "GB",
                          "VA"
                        ]
                      },
                      "eDeliveryCert": {
                        "type": "string"
                      },
                      "eDeliveryUrl": {
                        "type": "string",
                        "format": "uri"
                      },
                      "id": {
                        "type": "string"
                      },
                      "isDisabled": {
                        "type": "boolean"
                      },
                      "isFast": {
                        "type": "boolean"
                      },
                      "isOnline": {
                        "type": "boolean"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "ONLINE",
                          "OFFLINE",
                          "DISABLED"
                        ]
                      },
                      "tlsCert": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "countryCode",
                      "eDeliveryCert",
                      "eDeliveryUrl",
                      "id",
                      "isDisabled",
                      "isFast",
                      "isOnline",
                      "status"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "List all gates accessible to the current user."
      },
      "post": {
        "operationId": "GateAdminRoutes.save",
        "tags": [
          "Admin Gates"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string",
                    "enum": [
                      "EU",
                      "AL",
                      "AD",
                      "AT",
                      "BY",
                      "BE",
                      "BA",
                      "BG",
                      "HR",
                      "CY",
                      "CZ",
                      "DK",
                      "EE",
                      "FI",
                      "FR",
                      "DE",
                      "EL",
                      "HU",
                      "IS",
                      "IE",
                      "IT",
                      "LV",
                      "LI",
                      "LT",
                      "LU",
                      "MT",
                      "MD",
                      "MC",
                      "ME",
                      "NL",
                      "MK",
                      "NO",
                      "PL",
                      "PT",
                      "RO",
                      "RU",
                      "SM",
                      "RS",
                      "SK",
                      "SI",
                      "ES",
                      "SE",
                      "CH",
                      "UA",
                      "GB",
                      "VA"
                    ]
                  },
                  "eDeliveryCert": {
                    "type": "string"
                  },
                  "eDeliveryUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "id": {
                    "type": "string"
                  },
                  "isDisabled": {
                    "type": "boolean"
                  },
                  "isFast": {
                    "type": "boolean"
                  },
                  "isOnline": {
                    "type": "boolean"
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "ONLINE",
                      "OFFLINE",
                      "DISABLED"
                    ]
                  },
                  "tlsCert": {
                    "type": "string"
                  }
                },
                "required": [
                  "countryCode",
                  "eDeliveryCert",
                  "eDeliveryUrl",
                  "id",
                  "isDisabled",
                  "isFast",
                  "isOnline"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Create or update a gate. Automatically attempts to ping the gate after saving."
      }
    },
    "/gates/own": {
      "get": {
        "operationId": "GateAdminRoutes.ownGate",
        "tags": [
          "Admin Gates"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "countryCode": {
                      "type": "string",
                      "enum": [
                        "EU",
                        "AL",
                        "AD",
                        "AT",
                        "BY",
                        "BE",
                        "BA",
                        "BG",
                        "HR",
                        "CY",
                        "CZ",
                        "DK",
                        "EE",
                        "FI",
                        "FR",
                        "DE",
                        "EL",
                        "HU",
                        "IS",
                        "IE",
                        "IT",
                        "LV",
                        "LI",
                        "LT",
                        "LU",
                        "MT",
                        "MD",
                        "MC",
                        "ME",
                        "NL",
                        "MK",
                        "NO",
                        "PL",
                        "PT",
                        "RO",
                        "RU",
                        "SM",
                        "RS",
                        "SK",
                        "SI",
                        "ES",
                        "SE",
                        "CH",
                        "UA",
                        "GB",
                        "VA"
                      ]
                    },
                    "eDeliveryCert": {
                      "type": "string"
                    },
                    "eDeliveryUrl": {
                      "type": "string",
                      "format": "uri"
                    },
                    "id": {
                      "type": "string"
                    },
                    "isDisabled": {
                      "type": "boolean"
                    },
                    "isFast": {
                      "type": "boolean"
                    },
                    "isOnline": {
                      "type": "boolean"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "ONLINE",
                        "OFFLINE",
                        "DISABLED"
                      ]
                    },
                    "tlsCert": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "countryCode",
                    "eDeliveryCert",
                    "eDeliveryUrl",
                    "id",
                    "isDisabled",
                    "isFast",
                    "isOnline",
                    "status"
                  ]
                }
              }
            }
          }
        },
        "description": "Get this gate's own details."
      }
    },
    "/gates/{gateId}": {
      "delete": {
        "operationId": "GateAdminRoutes.delete",
        "tags": [
          "Admin Gates"
        ],
        "parameters": [
          {
            "name": "gateId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Delete a gate by ID."
      }
    },
    "/gates/{gateId}/ping": {
      "post": {
        "operationId": "GateAdminRoutes.ping",
        "tags": [
          "Admin Gates"
        ],
        "parameters": [
          {
            "name": "gateId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Ping a gate to verify connectivity."
      }
    },
    "/platforms": {
      "get": {
        "operationId": "PlatformAdminRoutes.list",
        "tags": [
          "Admin platforms"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "baseUrl": {
                        "type": "string",
                        "format": "uri"
                      },
                      "eDeliveryCert": {
                        "type": "string"
                      },
                      "eDeliveryUrl": {
                        "type": "string",
                        "format": "uri"
                      },
                      "headers": {
                        "type": "object",
                        "properties": {
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {},
                              "required": [
                                "key",
                                "value"
                              ]
                            }
                          },
                          "keys": {
                            "type": "array"
                          },
                          "size": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "values": {
                            "type": "array"
                          }
                        },
                        "required": [
                          "entries",
                          "keys",
                          "size",
                          "values"
                        ]
                      },
                      "id": {
                        "type": "string"
                      },
                      "supportsSubsetting": {
                        "type": "boolean"
                      },
                      "tlsCert": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "baseUrl",
                      "headers",
                      "id",
                      "supportsSubsetting"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "List all platforms accessible to the current user."
      },
      "post": {
        "operationId": "PlatformAdminRoutes.save",
        "tags": [
          "Admin platforms"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "baseUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "eDeliveryCert": {
                    "type": "string"
                  },
                  "eDeliveryUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "headers": {
                    "type": "object",
                    "properties": {
                      "entries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {},
                          "required": [
                            "key",
                            "value"
                          ]
                        }
                      },
                      "keys": {
                        "type": "array"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "values": {
                        "type": "array"
                      }
                    },
                    "required": [
                      "entries",
                      "keys",
                      "size",
                      "values"
                    ]
                  },
                  "id": {
                    "type": "string"
                  },
                  "supportsSubsetting": {
                    "type": "boolean"
                  },
                  "tlsCert": {
                    "type": "string"
                  }
                },
                "required": [
                  "baseUrl",
                  "id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Create or update a platform."
      }
    },
    "/platforms/{platformId}": {
      "delete": {
        "operationId": "PlatformAdminRoutes.delete",
        "tags": [
          "Admin platforms"
        ],
        "parameters": [
          {
            "name": "platformId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Delete a platform by ID."
      }
    },
    "/platforms/{platformId}/ping": {
      "post": {
        "operationId": "PlatformAdminRoutes.ping",
        "tags": [
          "Admin platforms"
        ],
        "parameters": [
          {
            "name": "platformId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Ping a platform to verify connectivity."
      }
    },
    "/authorities": {
      "get": {
        "operationId": "AuthorityAdminRoutes.list",
        "tags": [
          "Admin Authorities"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "countryCode": {
                        "type": "string",
                        "enum": [
                          "EU",
                          "AL",
                          "AD",
                          "AT",
                          "BY",
                          "BE",
                          "BA",
                          "BG",
                          "HR",
                          "CY",
                          "CZ",
                          "DK",
                          "EE",
                          "FI",
                          "FR",
                          "DE",
                          "EL",
                          "HU",
                          "IS",
                          "IE",
                          "IT",
                          "LV",
                          "LI",
                          "LT",
                          "LU",
                          "MT",
                          "MD",
                          "MC",
                          "ME",
                          "NL",
                          "MK",
                          "NO",
                          "PL",
                          "PT",
                          "RO",
                          "RU",
                          "SM",
                          "RS",
                          "SK",
                          "SI",
                          "ES",
                          "SE",
                          "CH",
                          "UA",
                          "GB",
                          "VA"
                        ]
                      },
                      "id": {
                        "type": "string"
                      },
                      "subsets": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "countryCode",
                      "id",
                      "subsets"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "List all authorities accessible to the current user."
      },
      "post": {
        "operationId": "AuthorityAdminRoutes.save",
        "tags": [
          "Admin Authorities"
        ],
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "countryCode": {
                    "type": "string",
                    "enum": [
                      "EU",
                      "AL",
                      "AD",
                      "AT",
                      "BY",
                      "BE",
                      "BA",
                      "BG",
                      "HR",
                      "CY",
                      "CZ",
                      "DK",
                      "EE",
                      "FI",
                      "FR",
                      "DE",
                      "EL",
                      "HU",
                      "IS",
                      "IE",
                      "IT",
                      "LV",
                      "LI",
                      "LT",
                      "LU",
                      "MT",
                      "MD",
                      "MC",
                      "ME",
                      "NL",
                      "MK",
                      "NO",
                      "PL",
                      "PT",
                      "RO",
                      "RU",
                      "SM",
                      "RS",
                      "SK",
                      "SI",
                      "ES",
                      "SE",
                      "CH",
                      "UA",
                      "GB",
                      "VA"
                    ]
                  },
                  "id": {
                    "type": "string"
                  },
                  "subsets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "countryCode",
                  "id",
                  "subsets"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Create or update an authority."
      }
    },
    "/authorities/{authorityId}": {
      "get": {
        "operationId": "AuthorityAdminRoutes.authority",
        "tags": [
          "Admin Authorities"
        ],
        "parameters": [
          {
            "name": "authorityId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "countryCode": {
                      "type": "string",
                      "enum": [
                        "EU",
                        "AL",
                        "AD",
                        "AT",
                        "BY",
                        "BE",
                        "BA",
                        "BG",
                        "HR",
                        "CY",
                        "CZ",
                        "DK",
                        "EE",
                        "FI",
                        "FR",
                        "DE",
                        "EL",
                        "HU",
                        "IS",
                        "IE",
                        "IT",
                        "LV",
                        "LI",
                        "LT",
                        "LU",
                        "MT",
                        "MD",
                        "MC",
                        "ME",
                        "NL",
                        "MK",
                        "NO",
                        "PL",
                        "PT",
                        "RO",
                        "RU",
                        "SM",
                        "RS",
                        "SK",
                        "SI",
                        "ES",
                        "SE",
                        "CH",
                        "UA",
                        "GB",
                        "VA"
                      ]
                    },
                    "id": {
                      "type": "string"
                    },
                    "subsets": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  },
                  "required": [
                    "countryCode",
                    "id",
                    "subsets"
                  ]
                }
              }
            }
          }
        },
        "description": "Get a specific authority by ID."
      },
      "delete": {
        "operationId": "AuthorityAdminRoutes.delete",
        "tags": [
          "Admin Authorities"
        ],
        "parameters": [
          {
            "name": "authorityId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Delete an authority by ID."
      }
    },
    "/users": {
      "get": {
        "operationId": "UserAdminRoutes.list",
        "tags": [
          "Admin Users"
        ],
        "parameters": [
          {
            "name": "gateId",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "platformId",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "authorityId",
            "required": false,
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string"
                      },
                      "id": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "isAdmin": {
                        "type": "boolean"
                      },
                      "isSuperAdmin": {
                        "type": "boolean"
                      },
                      "name": {
                        "type": "string"
                      },
                      "roles": {
                        "type": "object",
                        "properties": {
                          "entries": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {},
                              "required": [
                                "key",
                                "value"
                              ]
                            }
                          },
                          "keys": {
                            "type": "array"
                          },
                          "size": {
                            "type": "integer",
                            "format": "int32"
                          },
                          "values": {
                            "type": "array"
                          }
                        },
                        "required": [
                          "entries",
                          "keys",
                          "size",
                          "values"
                        ]
                      },
                      "subsets": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "id",
                      "isAdmin",
                      "isSuperAdmin",
                      "name",
                      "roles"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "List of users accessible to admins."
      },
      "post": {
        "operationId": "UserAdminRoutes.save",
        "tags": [
          "Admin Users"
        ],
        "parameters": [
          {
            "name": "generateSecret",
            "required": false,
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string"
                  },
                  "id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "isAdmin": {
                    "type": "boolean"
                  },
                  "isSuperAdmin": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string"
                  },
                  "roles": {
                    "type": "object",
                    "properties": {
                      "entries": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {},
                          "required": [
                            "key",
                            "value"
                          ]
                        }
                      },
                      "keys": {
                        "type": "array"
                      },
                      "size": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "values": {
                        "type": "array"
                      }
                    },
                    "required": [
                      "entries",
                      "keys",
                      "size",
                      "values"
                    ]
                  },
                  "subsets": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "isSuperAdmin",
                  "name"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "description": "Create or update a user."
      }
    },
    "/users/{userId}": {
      "delete": {
        "operationId": "UserAdminRoutes.deleteUser",
        "tags": [
          "Admin Users"
        ],
        "parameters": [
          {
            "name": "userId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Delete a user accessible to admin by ID."
      }
    },
    "/consignments": {
      "get": {
        "operationId": "ConsignmentAdminRoutes.list",
        "tags": [
          "Admin Consignments"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "consignment": {
                        "type": "object",
                        "properties": {
                          "createdAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "dangerousGoods": {
                            "type": "boolean"
                          },
                          "datasetId": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "deliveredAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "gateId": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "platformId": {
                            "type": "string"
                          },
                          "updatedAt": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "xml": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "createdAt",
                          "datasetId",
                          "gateId",
                          "platformId",
                          "updatedAt",
                          "xml"
                        ]
                      },
                      "identifiers": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "required": [
                      "consignment",
                      "identifiers"
                    ]
                  }
                }
              }
            }
          }
        },
        "description": "List all consignments accessible to the current user."
      }
    },
    "/consignments/{datasetId}": {
      "delete": {
        "operationId": "ConsignmentAdminRoutes.delete",
        "tags": [
          "Admin Consignments"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "required": true,
            "in": "path",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        },
        "description": "Delete a consignment dataset by ID. Requires super admin privileges."
      }
    }
  },
  "security": [
    {
      "bearerApiKey": []
    }
  ]
}