{
  "openapi": "3.1.0",
  "info": {
    "title": "eFTI Gate to Platform REST API",
    "description": "These APIs should be implemented by the platforms for eFTI gate integration. Information on what APIs to call is available from <a target='_blank' href='https://eu-ee32.eftisandbox.eu/v1/openapi'>Gate API</a>",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://demo-platform.eu-ee31.eftisandbox.eu/v1"
    }
  ],
  "tags": [
    {
      "name": "For Gates",
      "description": "These APIs are called by gates"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/dataset/{datasetId}": {
      "get": {
        "operationId": "DatasetRoutes.getDataset",
        "tags": [
          "For Gates"
        ],
        "description": "Called by gate to get eFTI subsets for a dataset ID. Returns <consignment xmlns=\"http://efti.eu/v1/consignment/common\"> <a target='_blank' href='https://github.com/EFTI4EU/reference-implementation/blob/main/schema/xsd/consignment-common.xsd'>according to XSD schema</a> and <a target='_blank' href='https://model.fintraffic-efti-dev.aws.fintraffic.cloud/?subset=identifier&find=#efti'>Fintraffic data model for visualizing the schema</a>",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "subsets",
            "in": "query",
            "required": true,
            "description": "eFTI subsets to filter dataset by. At least 1 required",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No content"
          }
        }
      }
    },
    "/dataset/{datasetId}/follow-up": {
      "post": {
        "operationId": "DatasetRoutes.postFollowUp",
        "tags": [
          "For Gates"
        ],
        "description": "Receive follow up message regarding previous dataset query. Authorities have the right to send follow-up messages regarding received datasets that they find suspicious or unlawful.",
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "required": true,
            "description": "Uniquely identifies specific consignment dataset (UUID)",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-Dataset-Request-ID",
            "in": "header",
            "required": true,
            "description": "Request ID of the dataset query made previously",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "No content"
          }
        }
      }
    }
  },
  "components": {}
}