@tailwind base;

@layer base {
  body {
    @apply text-neutral-850;
    background-color: #F0F0F2;
  }

  h1, .h1 {
    @apply text-2xl font-light;
  }

  h2, .h2 {
    @apply text-[1.375rem] font-normal;
  }

  h3, .h3 {
    @apply text-xl font-normal;
  }

  h4, .h4 {
    @apply text-lg font-normal text-neutral-850;
  }

  h5, .h5 {
    @apply text-base font-bold text-neutral-850;
  }

  h6, .h6 {
    @apply text-base font-bold text-neutral-850;
  }

  img, svg {
    display: inline-block;
  }

  th {
    text-align: left;
  }

  th, td {
    vertical-align: top;
  }

  a {
    cursor: pointer;
    @apply text-primary-600 hover:text-primary-700 underline;
  }

  table th, table td {
    @apply px-0 py-2;
  }

  label {
    @apply block text-sm font-normal text-neutral-700;
  }

  .form-field label {
    @apply mb-1;
  }

  .form-field input, .form-field select, .form-field textarea {
    @apply block w-full py-2 px-3 border border-neutral-500 bg-white text-neutral-850 rounded-md shadow-sm text-sm
      focus:outline-none focus:ring-1 focus:ring-primary-600 focus:border-primary-600
      disabled:bg-neutral-300 disabled:text-neutral-700;
  }

  .form-field input::placeholder, .form-field textarea::placeholder {
    @apply text-neutral-550;
  }

  .form-field.lg input, .form-field.lg select, .form-field.lg textarea {
    @apply text-lg;
  }

  .btn {
    @apply border border-transparent rounded-md text-center inline-flex
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-opacity-75
      disabled:opacity-50 justify-center py-2 px-4 text-sm font-medium
      active:opacity-75 active:transition-opacity;
  }

  .btn.default {
    @apply focus:ring-primary-600 hover:bg-primary-100 bg-white text-primary-600 border border-neutral-450;
  }

  .btn.primary {
    @apply text-white hover:text-white bg-primary-600 hover:bg-primary-700 focus:ring-primary-600;
  }

  .btn.danger {
    @apply text-danger-700 border border-neutral-450 hover:bg-neutral-300;
  }

  .btn.success {
    @apply text-white hover:text-white bg-success-700 hover:bg-success-800 focus:ring-success-600;
  }

  .btn.link {
    @apply text-primary-600 hover:text-primary-700 hover:bg-primary-100 focus:ring-primary-600;
  }

  .btn.sm {
    @apply py-1.5 px-3;
  }

  .btn.lg {
    @apply py-3 px-4 font-semibold;
  }

  .btn.icon-only {
    @apply px-2;
  }

  .btn.icon-only.sm {
    @apply px-1.5;
  }

  .btn.icon-first {
    @apply flex-col text-sm items-center whitespace-nowrap;
  }

  .btn.icon-first span {
    @apply !m-0;
  }
}

@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-muted {
    @apply text-neutral-600;
  }

  .common-grid {
    @apply grid gap-6
  }

  .spaced {
    @apply space-y-6
  }

  .justify-sides {
    @apply flex justify-between items-center
  }
}

html.loading {
  cursor: wait;
}
